@import "../../styles/globals.css";

.container {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

.contato h2 {
  font-size: 3rem;
  margin-bottom: 0;
}
.contato p {
  width: 70%;
  color: var(--text-second);
}

.emailButton {
  display: inline-flex;
  background: var(--primary);
  padding: 10px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: var(--radius);
  font-weight: 600;
  transition: 0.25s ease;
}
.emailButton:hover {
  background: var(--primary-hover);
  transform: translateX(4px);
}

.links {
  display: flex;
  flex-direction: column;
}
.links a {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 10px 0px 10px 0px;
  padding: 20px 0px 20px 0px;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  color: var(--text-second);
  transition: 0.2s ease;
  span {
    transition: 0.2s ease;
  }
  svg {
    transition: 0.2s ease;
  }
}
.links a:hover {
  border-top: 1px solid var(--card-hover);
  border-bottom: 1px solid var(--card-hover);
}
.links a:hover svg {
  margin-left: 7px;
  color: var(--primary);
}
.links a:hover span {
  color: white;
}
@media (min-width: 768px) {
  .links a {
    width: 50%;
  }
}
