@import "../../styles/globals.css";

.grid {
  display: grid;
  gap: 1.5rem;
}

.card {
  padding: 2rem;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  background: var(--bg-soft);
  box-shadow: var(--shadow-box);
}

.card h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  margin-top: 0;
  color: var(--primary);
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.skills {
  border-left: 2px solid #444;
  padding-left: 12px;
}
.skills strong {
  display: block;
  margin-bottom: 4px;
  font-size: 1rem;
}
.skills p {
  font-size: 0.9rem;
  color: var(--text-second);
}

/*
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
  */
