@import "../../styles/globals.css";

.grid {
  display: grid;
}

.card {
  padding: 2rem;
  padding-left: 0rem;
  border-top: 1px solid var(--border);
}
.card + .card {
  padding-right: 0;
  border-left: none;
}

.card h3 {
  font-family: "Poppins" sans-serif;
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--primary);
}
.card p {
  color: var(--text-second);
  line-height: 1.8;
  margin: 0;
}
.downloadButton {
  width: 150px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    padding-left: 4rem;
  }
  .card + .card {
    border-left: 1px solid var(--border);
  }
}
