@import "../../../styles/globals.css";

.primary {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background: var(--primary);
  padding: 0.9rem 1.3rem;
  transition:
    background 0.2s,
    gap 0.25s;
}
.primary:hover {
  background: var(--primary-hover);
  gap: 1.05rem;
}
.icon {
  transition: transform 0.25s ease;
}
.primary:hover .icon {
  transform: translateX(6px);
}
