@import "../../styles/globals.css";

.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(1, 1fr);
}

.card {
  border-top: 1px solid var(--border);
  padding: 20px 10px 20px 10px;
}

.year {
  color: var(--primary);
}
.year p {
  display: inline-block;
  position: relative;
}
.year p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: var(--primary);
  transition: width 0.3s ease;
}
.card:hover .year p::after {
  width: 100%;
}
.info div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.institution {
  color: var(--text-second);
  padding: 3px;
}
.type {
  color: rgb(85, 85, 85);
  border: 1px solid rgb(85, 85, 85);
  padding: 3px 10px 3px 10px;
}
.info h3 {
  font-family: "Poppins" sans-serif;
  margin-top: 0;
  /*font-size: 1rem;*/
}
.description {
  color: var(--text-second);
  line-height: 1.8;
}

@media (min-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: 20% 80%;
  }
}
