@import "../../styles/globals.css";

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  background: var(--bg-soft);
}

.content {
  width: 100%;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(2.5rem, 6vw, 4rem);
  margin: 0;
}
h1 span {
  color: var(--primary);
}

h2 {
  font-size: clamp(1.1rem, 3vw, 1.5rem); /*talvez não precise*/
  font-weight: 600; /*talvez não precise*/
  color: var(--muted);
  margin: 1rem 0; /*talvez não precise*/
}

.line {
  width: 0;
  height: 3px;
  background: var(--primary);
  margin: 1rem auto 1.5rem;
  animation: grow 1s ease forwards;
}
@keyframes grow {
  to {
    width: 120px;
  }
}

.subtitle {
  max-width: 650px;
  color: var(--text-second);
  font-size: 1.1rem;
  margin: auto;
}

.actions {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .hero {
    padding-top: 2rem;
  }
}
